body
{
background-color: #e5e193 ;

}

.first ul {
        background: #555 ;
        background-size: cover;
        background-position: center;
        text-align: center;  
        display: inline-flex;
        list-style: none;
        color: cornsilk;
        font-family:  'Brush Script MT';
        font-size:20px ;

}
li {
    width: 318px;
    margin: 5px;
    padding: 5px;
    
}

h1 {
    font-size: 50px;
    font-family:'Brush Script MT', cursive;
    text-align : center;
    margin-top: 60px;
    margin-bottom: 150px;
    color: aliceblue;

}

img {
    width: 40%;
    height: auto;
    float: right;
    border: 3px solid #555;
    box-shadow: 0 14px 28px black , 0 10px 10px black;
    border-radius: 3px;
    margin-right: 20px;
    margin-bottom: 50px;
    animation: mymove 5s infinite;
    margin-top: 30px;
}

.second ul li {
    
    width: 18em; 
    border: 0px solid #555;
    word-wrap: break-word;
    text-align: left;
    color: #555;
    font-size: 26px;
    margin-left: 80px;
    margin-top: 40px;
    font-weight: bold;
    font-family:  Copperplate, Papyrus, fantasy;
    list-style: circle;
  }

  h2 ,p {
    font-size: 25px;
    
    text-align : center;
    margin-top: 70px;
    color: white;
    background-color: rgb(53, 49, 49);
    padding: 4px;
    font-family: 'Brush Script MT';
    border-radius: 50px;
    

    
  }
  p{
    margin-bottom: 80px;
    margin-top: 5px;
  }
  
  
  .third  li {
    text-align: left;
    color: #555;
    font-size: 17px;
    margin-left: 500px;
    margin-top: 10px;
    font-weight: bold;
    font-family:  Copperplate, Papyrus, fantasy;
    list-style-type: upper-roman;
    border: outset #555 2px ;
    

  }

   footer {
    background-color:#555 ; 
    margin-top: 100px; 
    padding: 7px; 
    text-align: center;
    color: beige;
   }
   
  @keyframes mymove {
    50% {box-shadow: 10px 20px 30px #555;}
  }